.Common-Modal{
    width: 500px; 
    height: 400px; 
    background-color: "white";
}
.Modal-Header{
    background-color: #5BC0F8; 
    color: white; 
    font-size: x-large;
    text-align: center;
    text-decoration:solid;
    padding: "10px";
    border: 2px solid black;
}