.content-box{
    width:75%;
    height: 570px;
    margin-top:10px;
    margin-left: 10px;
    border-bottom: black;
    border-width: 2px;
    border-style: solid;
    
}
.description{
    background-color:#5BC0F8;
    color: white;
    font-size: large;
    text-align: center;
    
    
}