.legend{
    width: 20%;
    height:28%;
    background-color: rgb(129, 240, 246,0.3);;
    position: absolute;
    border-radius: 5px;
    border: 2px solid black;
    left: 79.5%;
    top:65%
}
.totalquestions{
    background-color: #5BC0F8;
    color: black;
    padding: 5px 32px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.modalButtons{
    width: 40%;
    margin-left: 5%;
    margin-bottom: 2%;
    background-color: #5BC0F8; 
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5%;
}
.modalButtons:hover {background-color: #0081C9}
.modalButtons:active {background-color: #0081C9;}
